<div id="<%= dom_id comment %>">

  <p>
    <strong>
      <%= comment.user.name %>
    </strong>
    <span title='<%= comment.created_at.localtime.to_fs(:long) %>'>
      <%= time_ago_in_words(comment.created_at) %> ago
    </span>
    <br>

    <%= comment.text %>
    <br>

    <% if @viewer == comment.user || @viewer == post.user %>
      <%= button_to 'x', post_comment_path(post, comment),
        data: { turbo_confirm: 'Delete this comment?',
                confirm: 'Delete this comment?' },
        method: 'delete' %>
    <% end %>
  </p>

</div>
