<div id='new_comment_form' class='row mb-5 justify-content-between'>
  <div class='col-1'>
    <%= image_tag 'default_avatar.svg', width: 50, height: 50, class: 'rounded-circle' if @viewer.avatar_data.nil? %>
    <%= image_tag @viewer.avatar_url(:thumbnail), class: 'rounded-circle' unless @viewer.avatar_data.nil? %>
  </div>
  <div class='col'>
    <%= form_with(model: comment, url: post_comments_path(post, comment), html: { class: 'col' }) do |form| %>
      <% if comment.errors.any? %>
        <div class="alert alert-danger alert-dismissible fade show text-start">
          <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

          <ul>
            <% comment.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>

      <div class="field form-floating mb-3">
        <%= form.hidden_field :post_id %>
        <%= form.text_area :text,
                            autofocus: true,
                            class: 'form-control',
                            placeholder: 'Write a comment' %>
        <%= form.label :text, 'Write a comment' %>
      </div>

      <div>
        <%= form.submit 'Send', class: 'btn btn-primary mb-3' %>
      </div>
    <% end %>
  </div>
  <div class='col-1'></div>
</div>
