<div class='row justify-content-between m-0 my-5 p-0'>
  <%= link_to "< Back to post", post_path(@post), class: 'col-2 btn btn-outline-primary' %>
</div>

<div id="caption" class="row mb-3">
  <div class="col-1">
    <%= link_to user_path(@post.user) do %>
      <%= image_tag 'default_avatar.svg', width: 50, height: 50, class: 'rounded-circle' if @post.user.avatar_data.nil? %>
      <%= image_tag @post.user.avatar_url(:thumbnail), class: 'rounded-circle' unless @post.user.avatar_data.nil? %>
    <% end %>
  </div>
  <div class="col">
    <p>
      <strong><%= @post.user.name %> </strong>
      <%= @post.caption %>
    </p>
    <p class='my-1'>
        <span title='<%= @post.created_at.localtime.to_fs(:long) %>'>
          <%= time_ago_in_words(@post.created_at) %> ago
        </span>
    </p>
  </div>
  <div class='col-1'></div>
</div>

<h2 class='m-3 text-center'>Comments</h2>

<div id="comments">
  <% @comments.each do |comment| %>
    <%= render 'comment', comment:, post: @post if comment.present? %>
  <% end %>
</div>

<%= render 'form', comment: @new_comment, post: @post %>
