<div id="<%= dom_id user %>">
  <h2><%= user.name %></h2>

  <div id='posts_counter'>
    <%= pluralize(user.posts_count, 'Post') %>
  </div>

  <div id='followers_counter_div'>
    <%= render 'relations/followers_counter', user: %>
  </div>

  <div id='following_counter'>
    <%= link_to "#{user.following_count} Following", following_user_path(user) %>
  </div>

  <% if viewer != user %>
    <div id='follow_toggle_div'>
      <%= render 'relations/follow_toggle',
                user: user,
                viewer: viewer,
                relation: viewer.active_relations.find_by(followed: user) %>
    </div>
  <% end %>
</div>
