<div id="<%= dom_id user %>">
  <h2><%= user.name %></h2>

  <div>
    <%= pluralize(user.posts.count, 'Post') %>
  </div>

  <div>
    <%= render 'relations/followers_counter', user: %>
  </div>

  <div>
    <%= link_to "#{user.following.count} Following", following_user_path(user) %>
  </div>

  <% if current_user != user %>
    <%= render 'relations/follow_toggle',
               user: user,
               relation: current_user.active_relations.find_by(followed: user) %>
  <% end %>
</div>
