<div>
  <h1>Account information</h1>
  <p>Name: <%= current_user.name %></p>
  <p>Email: <%= current_user.email %></p>

  <%
=begin%>
 <%= # render "form", user: @user %> 
<%
=end%>
  
  <%= link_to "Change password", edit_user_password_path %> 

</div>

<div>
  <h1>Danger zone</h1>
    <%= link_to "Delete my account and all the posts permanently (no undo!)", user_path(current_user),
      data: {
        turbo_method: 'delete',
        turbo_confirm: "Are really sure you want to delete your account and all the posts you made?\nThis action CAN NOT BE UNDONE!"
      } %>
</div>
