<%= link_to "Back", :back %>

<%= form_with(model: @viewer, url: set_avatar_url) do |form| %>
  <% if @viewer.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@viewer.errors.count, "error") %> prohibited this avatar from being saved:</h2>

      <ul>
        <% @viewer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= image_tag @viewer.image_url(:profile_pic) if @viewer.avatar_data %>
  </div>

  <div>
    <%= form.hidden_field :avatar, value: @viewer.cached_avatar_data, id: nil %>
    <%= form.file_field :avatar %>
  </div>

  <div>
    <%= form.submit 'Set avatar' %>
  </div>
<% end %>
