<%= link_to "Back", :back %>

  <% if @viewer.errors.any? %>
    <div class="alert alert-danger">
      <h3><%= pluralize(@viewer.errors.count, 'error') %> prohibited new avatar from being saved:</h3>

      <ul>
        <% @viewer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @viewer.avatar %>
    <div>
      <%= image_tag @viewer.avatar_url(:profile_pic), class: %>
    </div>
    <div>
      <%= button_to(
        'Remove avatar', 
        remove_avatar_path, 
        method: :patch, 
        data: { 
          confirm: 'Are you sure you want to remove current avatar?', 
          turbo_confirm: 'Are you sure you want to remove current avatar?' 
        }
      ) %>
    </div>

  <% else %>
    <div>
      <%= image_tag 'default_avatar.svg', width: 180, height: 180, class: 'rounded-circle' %>
    </div>
  <% end %>

<%= form_with(model: @viewer, url: set_avatar_url, method: :patch, id: 'set_avatar') do |form| %>
  <div>
    <%= form.hidden_field :avatar, value: @viewer.cached_avatar_data, id: nil %>
    <%= form.file_field :avatar, required: true %>
  </div>

  <div>
    <%= form.submit 'Set avatar' %>
  </div>
<% end %>
