<div class='row justify-content-center text-center'>
  <h1 class='text-center m-3'>Avatar settings</h1>

  <% if @viewer.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show text-start">
      <h3><%= pluralize(@viewer.errors.count, 'error') %> prohibited new avatar from being saved:</h3>

      <ul>
        <% @viewer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <div class='avatar m-5' style='transform: rotate(0);'>
    <% if @viewer.avatar %>
      <%= image_tag @viewer.avatar_url(:profile_pic), class: 'rounded-circle' %>
      <br/>
      <%= button_to('Remove avatar',
                    remove_avatar_path,
                    method: :patch,
                    data: {
                      confirm: 'Are you sure you want to remove current avatar?',
                      turbo_confirm: 'Are you sure you want to remove current avatar?',
                    },
                    class: 'btn btn-outline-danger stretched-link custom-hover-link position-absolute top-50 start-50 translate-middle bg-body-tertiary p-1 rounded-5') %>
    <% else %>
      <%= image_tag 'default_avatar.svg', width: 180, height: 180, class: 'rounded-circle' %>
    <% end %>
  </div>

<%= form_with(model: @viewer, url: set_avatar_url, method: :patch, id: 'set_avatar', html: { class: 'col-sm-8 col-md-6' }) do |form| %>
  <div class='mb-3'>
    <%= form.hidden_field :avatar,
                          value: @viewer.cached_avatar_data,
                          id: nil %>
    <%= form.file_field :avatar,
                        required: true,
                        class: 'form-control' %>
  </div>

  <div>
    <%= form.submit 'Set avatar', class: 'btn btn-primary mb-3' %>
  </div>
<% end %>

<div>
</div>
