<div class='row justify-content-center m-0 my-5 p-0'>
  <%= link_to "Back to #{@user.name}'s profile", user_path(@user), class: 'col-sm-8 col-md-6 px-0 mx-0 btn btn-outline-primary' %>
</div>

<div class='row justify-content-center m-0 my-5 p-0'>
  <div id='following' class='list-group col-sm-8 col-md-6 px-0 mx-0'>
    <% @following.each do |following| %>
      <%= link_to user_path(following), class: 'list-group-item list-group-item-action' do %>
        <%= image_tag 'default_avatar.svg', width: 50, height: 50, class: 'rounded-circle me-2' if following.avatar_data.nil? %>
        <%= image_tag following.avatar_url(:thumbnail), class: 'rounded-circle me-2' unless following.avatar_data.nil? %>
        <span><%= following.name %></span>
      <% end %>
    <% end %>
  </div>
</div>
