<h1 class='text-center m-3'><%= @user.name %> - followers</h1>

<div class='row justify-content-center m-0 my-5 p-0'>
  <div id='followers' class='list-group col-sm-8 col-md-6 px-0 mx-0'>
    <% @followers.each do |follower| %>
      <%= link_to user_path(follower), class: 'list-group-item list-group-item-action' do %>
        <%= image_tag 'default_avatar.svg', width: 50, height: 50, class: 'rounded-circle me-2' if follower.avatar_data.nil? %>
        <%= image_tag follower.avatar_url(:thumbnail), class: 'rounded-circle me-2' unless follower.avatar_data.nil? %>
        <span><%= follower.name %></span>
      <% end %>
    <% end %>
  </div>
</div>

<div class='row justify-content-center m-0 my-5 p-0'>
  <%= link_to "Back to profile", user_path(@user), class: 'col-sm-8 col-md-6 px-0 mx-0 btn btn-outline-primary' %>
</div>
