<nav class="navbar sticky-top navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand py-0" href="#">
      <%= image_tag "sign-railroad-fill.svg", alt: "Logo", width: 30, height: 30, class: "d-inline-block align-text-start" %>
      Railgram
    </a>
    
    <div class="navbar-toggler align-text-end" aria-label="Make a new post">
      <%= link_to(image_tag('plus-square.svg', alt: "Make a post", width: 30, height: 30, style: 'fill: "#00ff00"'), new_post_path) %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    
    
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <%= tag.li(link_to('Feed',
                             feed_path,
                             class: "nav-link #{'active bold' if current_page?(feed_path)}"),
                     class: 'nav-item') %>
          <%= tag_nav_link("Make a post", new_post_path) %>
        <% end %>
      </ul>

      <ul class="navbar-nav mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <%= tag_nav_link(@viewer.name, user_path(@viewer)) %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><%= link_to('My profile', user_path(@viewer), class: 'dropdown-item') %></li>
              <li><%= link_to('Settings', user_settings_path, class: 'dropdown-item') %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to('Log out', destroy_user_session_path, data: { turbo_method: :delete }, class: 'dropdown-item') %></li>
            </ul>
          </li>
        <% else %>
          <%= tag_nav_link('Sign in', new_user_session_path) %>
          <%= tag_nav_link('Register', new_user_registration_path) %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
