<%= form_with(model: post, url: url_for([current_user, post])) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.hidden_field :image_data, value: post.cached_image_data, id: nil %>
    <%= form.file_field :image_data %>

    <%= form.label :caption, style: "display: block" %>
    <%= form.text_field :caption %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
