<div id="<%= dom_id post %>">
  <%= image_tag post.image_url(:post_size) %>

  <%= render 'likes/like_toggle', post:, likes:, user: %>

  <p>
    <strong><%= link_to post.user.name, user_path(post.user) %> </strong>
    <%= post.caption %>
  </p>
  
  <p>
    <%= link_to pluralize(comments.count, 'Comment'), post_comments_path(post) %>
  </p>

  <p>
    <span title='<%= post.created_at.localtime.to_fs(:long) %>'>
      <%= time_ago_in_words(post.created_at) %> ago
    </span>
  </p>
</div>
