<div class="post bg-secondary-subtle my-5 px-0 pt-0 pb-1 rounded-3 shadow" id="<%= dom_id post %>">
  <%= image_tag post.image_url(:post_size), class: 'img-fluid mx-auto ratio rounded-top-3' %>

  <div class='py-2 px-4'>
    <div class='container actions-badge row row-cols-auto'>
      <div class='col g-0'>
        <%= render partial: 'likes/like_toggle', locals: { post:, likes: } %>
      </div>
      <div class='col g-0'>
        <%= link_to pluralize(post.comments_count, 'Comment'), post_comments_path(post), class: 'btn btn-outline-primary rounded-pill ms-1' %>
      </div>
    </div>

    <div class='caption-section pt-2'>
      <%= render partial: 'likes/likes_counter', locals: { post:, likes: } %>
      <p class='my-1'>
        <strong><%= link_to post.user.name, user_path(post.user) %> </strong>
        <%= post.caption %>
      </p>
      <p class='my-1'>
        <span title='<%= post.created_at.localtime.to_fs(:long) %>'>
          <%= time_ago_in_words(post.created_at) %> ago
        </span>
      </p>
    </div>

    <% if controller_name == 'posts' && action_name.in?(['feed', 'index']) %>
      <%= link_to "Show this post", post_path(post) %>
    <% end %>
  </div>
</div>
