<div id="<%= dom_id post %>">
  <%= image_tag post.image_url(:post_size) %>

  <%= render 'likes/like_toggle', post: post %>

  <p>
    <strong><%= post.user.name %> </strong>
    <%= post.caption %>
  </p>
</div>
