<div id="<%= dom_id post %>">
  <%= image_tag post.image_url(:post_size) %>

  <%= render 'likes/like_toggle', post: %>

  <p>
    <strong><%= post.user.name %> </strong>
    <%= post.caption %>
  </p>
  
  <p>
    <%= link_to pluralize(post.comments.count, 'Comment'), post_comments_path(post) %>
  </p>
</div>
