<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "Back to #{@post.user.name}'s posts", user_posts_path(@post.user) %>
  <% if @post.user == current_user %>
     | <%= link_to 'Edit this post', edit_post_path(@post) %>
    <%= button_to 'Destroy this post', post_path(@post),
      data: { turbo_confirm: 'Are sure you want to delete this post?',
              confirm: 'Are sure you want to delete this post?' },
      method: 'delete' %>
  <% end %>
</div>
