<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Railgram</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-bs-theme=<%= cookies[:theme] || 'light' %>>
    <%= render 'shared/navbar' %>
    <% if notice %>
      <div class="alert alert-success alert-dismissible fade show">
        <%= notice %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger alert-dismissible fade show">
        <%= alert %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>

    <div class="container-fluid container-md px-0 px-md-auto">
      <%= yield %>
    </div>
  </body>
</html>
